form {margin:10px 0 0}
input, textarea {font:11px Tahoma, Arial, Helvetica, sans-serif;border-top:1px solid #9D9D9D;border-right:1px solid #C8C8C8;border-bottom:1px solid #C8C8C8;border-left:1px solid #9D9D9D;color:#7E7B7B;width:225px;background:#EFEFEF;margin:0 0 5px}
textarea {height:150px}
